__pycache__/
*.py[cod]
*$py.class

*.so

.venv/
venv/
env/
ENV/
*.env
*.venv
pip-selfcheck.json
Pipfile.lock

.python-version

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/


*/migrations/
!*/migrations/__init__.py

.env
.env.*

.vscode/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

node_modules/

.cache/
.pytest_cache/

htmlcov/
.coverage
coverage.xml
*.cover

build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

.ipynb_checkpoints/
